html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  font-family: "Abel",sans-serif;
  background: #fff;
}


header.page-header,
footer.page-footer {
  background-color: #005289;
  padding: 50px 0;
  text-align: center;
}

footer.page-footer {
  padding: 10px 0;
}

h4 {
  margin-top: 8%;
  color: #fff;
  margin-top: 1%;
}

h1 {
  margin-top: 8%;
  color: #fff;
  margin-top: 8%;
}
header.page-header { border-bottom:4px solid #565656; }
header.page-header h1 a,
header.page-header a,
header.page-header h1 a:hover,
header.page-header a:hover {color:#fff;text-decoration:none}

header.page-header .translation {color:#fff;}
header.page-header .translation a {color:#fff;text-decoration:underline}
header.page-header .translation a:hover {color:#fff;}

header.page-header .translation a.active {color:#222;text-decoration:none !important}

.gear {position:relative;display:inline-block;margin-top:20px}

a {
  color: #565656;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

header.page-header h1 {font-size:7em;display:inline-block;margin-bottom: 0;}
header.page-header p {font-weight:400;font-size: 1.5em;}

/* header.page-header .overlay {display:table;position: absolute;top: 0;left: 0;width: 100%;height: auto;background-color:rgba(65, 134, 204, 0.66)} */
header.page-header {
	background: 
    /* top, transparent blue */
    linear-gradient(
      rgba(86, 86, 86, 0.8), 
      rgba(86, 86, 86, 0.5)
    ),
    url(../images/akademy-2014.png);
	background-color: #565656;
	display:block;
	height:auto;
	padding:20px 0 20px;
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center center;
	min-height:500px;
}
header.page-header p,
footer.page-footer p {
  width: 64.5%;
  max-width: 1400px;
  line-height: 120%;
  color: #fff;
  margin: 0px auto 10px auto;
}

header.page-header a,
footer.page-footer a {
  color: #7ACBFF;
}

.timeline {
  position: relative;
  width: 90%;
  max-width: 1600px;
  margin: 0px auto;
  padding: 20px 0 100px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50.2%;
  height: 100%;
  width: 4px;
  background: #ccc;
}

.no-js .timeline-filter-wrapper {
  display: none;
}

.timeline-filter-wrapper {
  color:#fff;
  padding: 10px 0;
  font-weight:400;font-size: 1.2em;
}

.timeline-filter {
  width: 90%;
  max-width: 1600px;
  margin: 0px auto;
}

.timeline-filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.timeline-filter ul li {
  display: inline;
  padding-right: 20px;
}

.timeline-entry {
  position: relative;
}

.timeline-entry.first {
  margin-top: 10px;
}

.timeline-entry.short {
  margin-top: -50px;
}

.timeline-icon {
    position: absolute;
    left: 50%;
    width: 42px;
    height: 42px;
    margin-left: -20px;
    border: 1px solid #fff;
    border-radius: 25%;
    box-shadow: 0px 1px 1px #000;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}

.timeline-icon i {
  color: #fff;
  font-size: 20px;
  line-height: 42px;
  font-weight: 500;
}


.timeline-description {
  box-sizing: border-box;
  position: relative;
  width: 45%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 1px 2px #999;
  display: inline-block;
  z-index: 1;
}

.sub-entry {
  clear: both;
  margin-top: 30px;
}

.timeline-entry.odd .timeline-description {
  margin-left: 55%;
}

.timeline-description:after {
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: #e0e0e0;
  border-width: 10px;
  margin-top: -10px;
  z-index: 100;
}

.timeline-entry.odd .timeline-description:after {
  right: 100%;
  border-right-color: #fff;
}

.timeline-description .timestamp {
  color: #ccc;
}

.timeline-description .timestamp .note {
  color: #888;
}

.timeline-description h2 {
  line-height: 110%;
}

.timeline-description h2 a {
  text-decoration: inherit;
  color: inherit;
  float: right;
  visibility: hidden;
}

.timeline-description h2:hover a {
  visibility: visible;
  opacity: 0.5;
}

.timeline-description h2{
	margin:0;
	padding:0
}
.timeline-description ul {

}

.timeline-description p,
.timeline-description ul {

}

.timeline-description img {
  max-width: 150px;
  display: block;
  border: 8px solid #fff;
  box-shadow: 0px 1px 1px #000;
}

.timeline-description .landscape img {
  max-width: 200px;
}

.image-right {
  float: right;
  padding: 3px 10px 10px 10px;
}

.captioned-image .caption {
  display: block;
  line-height: 120%;
  /*font-style: italic;*/
  font-size: 90%;
  margin: 5px 0 0 0;
  font-family: "Abel",sans-serif;
  text-align: center;
}
a:link {
  text-decoration: none;
  color: #808080
	}
a:hover {
	text-decoration: underline; 
	}
a:active {
	text-decoration: none
	}
.captioned-image .attribution-link {
  font-size: 70%;
}

.captioned-image {
  max-width: 150px;
  clear: both;
}

.captioned-image.landscape {
  max-width: 200px;
}

section.attribution {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

div.etc {
  width: 90%;
  max-width: 1600px;
  margin: 0px auto;
  padding: 30px 0;
}

div.etc h1 {
  color: #005289;
}

div.etc .description {
  font-size: 80%;
  font-style: italic;
}

.start {top: -10%}
.end {margin-top: 0;background-color:#565656;margin-bottom:10%}
.end a, .end a:hover {color:#fff}

footer.page-footer {
	position: fixed; 
	bottom: 0;
	left: 0;
	right: 0;
	text-align: left;
	background-color: transparent;  
	padding: 0;
	z-index:999;
}
.konqi {margin-left: 2%; margin-bottom:-1.5%;width: 24%;}
footer.page-footer .bar {
	background-color: #565656;
	z-index: -1;
	height: 25px;
	color: #fff;
	text-align:center;
}

/* TO DO: merge with the timeline classes above */
.timeline-description:after {
	top: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: #333;
	border-width: 10px;
	margin-top: -10px;
	z-index: 100;
	display: none !important;
}

.timeline-entry.odd .timeline-description:after {
	right: 100%;
	border-right-color: #333;
}

.timeline-next {
	position: relative;
	left: 50%;
	width: 42px;
	height: 22px;
	margin-left: -24px;
	text-align: center;
	vertical-align: middle;
	z-index: 999999;
}			
.timeline-next {
	color: #565656;
	line-height: 38px;
	font-weight: 500;
	padding: 5px
}
.timeline-next i {color: #565656;margin-top: 5px;}		
.timeline-icon {
	position: relative;
	left: 50%;
	width: 56px;
	height: 56px;
	margin-left: -28px;
	border: 1px solid #565656;
	border-radius: 25%;
	box-shadow: 0px 1px 1px #333;
	text-align: center;
	vertical-align: middle;
	z-index: 2;
}		
.timeline-icon {
	color: #fff;
	font-size: 26px;
	line-height: 54px;
	font-weight: 600;
	border-radius: 50%;
	padding: 5px;

}
.timeline-icon i {color: #565656;}
.timeline-icon.blue {
	background-color: #565656;
}
.timeline-icon.blue a {
	color: #fff;
}		

.timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50.2%;
	height: 100%;
	width: 4px;
	background: #565656;
}
.last {padding-bottom:2% !important}
header.page-header a, footer.page-footer a {
	color: #fff;
}
footer.page-footer a:link {text-decoration:underline}
.share {position:absolute;top:10px;right:0;margin-right:10px;}
.share .fb-like {display:block;margin-right:-20px}

/* Make this less sad on mobile */

@media screen and (device-width: 360px) {
  .translation i {margin-right:18px}
}

@media (max-device-width: 800px) {
  .translation i {margin-right:18px} 
}

@media only screen and (min-width: 400px) {
  .timeline-entry.even .timeline-description:after {
    left: 100%;
    border-left-color: #fff;
  }
  
}

@media only screen and (max-width: 400px) {
  .timeline::before {
    left: 0;
  }

  .timeline-icon {
    left: 0;
  }

  .timeline-entry,
  .timeline-entry.short  {
    margin-top: 25px;
  }

  .timeline-entry.odd .timeline-description,
  .timeline-entry.even .timeline-description {
    margin-left: 50px;
  }

  .timeline-entry.even .timeline-description:after {
    right: 100%;
    border-right-color: #fff;
  }

  .timeline-description {
    width: 90%;
  }


}

/* Fallback for no Javascript */

.no-js .timeline::before {
  left: 0;
}

.no-js .timeline-icon {
  left: 0;
}

.no-js .timeline-entry,
.no-js .timeline-entry.short {
  margin-top: 25px;
}

.no-js .timeline-entry .timeline-description {
  margin-left: 50px;
}

.no-js .timeline-entry .timeline-description:after {
  right: 100%;
  border-right-color: #fff;
}

.no-js .timeline-description {
  width: 90%;
}
